
header{
    font-size: 56px;
    text-align: center;
}
h3{
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 3px solid;
}
.largeText{
    font-size: large;
    text-align: center;
    text-decoration: underline;
    padding: 2em;
    line-height: 2em;
}
.contentContainer{
    display: flex;
    justify-content: center;
   padding: 2em;
   line-height: 2em;
}
.howItWorks{
    margin: auto;
    padding: .5em;
    border: 1px solid;
    border-radius: 25px;
    max-width: 30%;
    line-height: 2em;
}
.noCasper{
    margin: auto;
    padding: .5em;
    border: 1px solid;
    border-radius: 25px;
    overflow: auto;
    max-width: 30%;
    line-height: 2em;
}
.chessRulesContainer{
    border: 1px solid;
    border-radius: 25px;
    max-width: 80%;
    margin: auto;
    padding: 2em;
    line-height: 2em;
}
.bottomContainer{
    display: flex;
}
.specialMovesContainer{
    border: 1px solid;
    border-radius: 25px;
    padding: 2em;
    line-height: 2em;
    max-width: 30%;
    margin: auto;
    max-height: fit-content;
}
.objectiveContainer{
    border: 1px solid;
    border-radius: 25px;
    padding: 2em;
    line-height: 2em;
    max-width: 30%;
    margin: auto; 
}


